body {
	font-family: 'Montserrat', sans-serif;
	color: #22264b;
	font-weight: 300;
}

a {
	text-align: center;
	display: block;
}

hr {
    border: 1px solid #e6cf8b;
}

subtitle {
	font-family: 'Montserrat', sans-serif;
	color: #b56969;
	font-weight: 125;
}

footer {
	padding-bottom: 35px;
}