body {
	font-family: 'Montserrat', sans-serif;
	color: #22264b;
	font-weight: 300;
}

header {
    border-bottom: 1px solid #e6cf8b;
    margin-bottom: 20px;
}

h3 {
	text-transform: uppercase;
}

a {
	text-align: center;
	display: block;
}

p {
	margin-top: 10px;
	text-align: center;
	font-style: italic;
}

subtitle {
	font-family: 'Montserrat', sans-serif;
	color: #b56969;
	font-weight: 125;
}

footer {
	margin-top: 20px;
	border-top: 1px solid #e6cf8b;
	margin-bottom: 35px;
}